$def with (resultado)
<div style="text-align: center;">
    <form method="POST">
        <label>
            Numero 1: 
            <input type="number" name="numero1">
        </label>
        <br><br>
        <label>
            Numero 2:
            <input type="number" name="numero2">
        </label>
        <br><br>
        <button type="submit">Sumar</button>
        <br><br>
        <label>
            Resultado:
            <span id="resultado">
                <!-- Aquí se mostrará el resultado de la suma -->
                $if resultado is None:
                    0
                $else:
                    $resultado
            </span>
        </label>
    </form>
</div>
